 html{
 scroll-behavior : smooth;
}
html,body{

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
 color: black;
 background-color:cyan;
 
}
#p1{
 background:url(st4.jpg);
 
 background-repeat:no-repeat;
 background-position: center;
 background-size: cover; 
 
 }
#p2{
 background:url(Foo2.jpg);
 
 background-repeat:no-repeat;
 background-position: center;
 background-size: cover;
 
 margin-top:0px;
 }
.container {
    display: flex;
    background:url(st1.jpg);
 
 background-repeat:no-repeat;
 background-position: center;
 background-size: cover;

}

#logo{
    height: 8rem;
    width: 9rem;

    
    background: url(lo1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media (max-width:350px){
    .container{
        display: flex;
        flex-direction: column;
    }
    #navbar a {
        border-radius: auto;
        display: block;
        
        
    }
    #navbar{
        padding: 28vw;
        
    }
    #logo{
        display: block;
        margin: auto;

        
    }
    
    #button{
        display: block;
        margin: auto;
    }
}
@media (max-width:500px){
    .container{
        display: flex;
        flex-direction: column;
    }
    #navbar a {
        border-radius: auto;
        display: block;
        
        
    }
    #navbar{
      padding: 40vw;
      margin: auto;    
    }
    #logo{
        display: block;
        margin: auto;

        
    }
    
    #button{
        display: block;
        margin: auto;
    }
}
@media (max-width:992px){
    #button{
        display: flex;
        height: 2rem;
    }
 #navbar a{
   padding:0.5rem;
  }
}


#navbar {
    width: 38rem;

    margin: auto;

}

#navbar a {
    width:8rem;
    
    color:black;
    padding: 1rem;
    text-decoration: none;
}
#navbar a:hover {
    background-color:white;
    border-radius:1rem;
    
    
}
#button {

    padding-top: 2.5rem;
}

#sect-3 {
    width: 100vw;
    display: flex;

}

#sect-4 h1 {
    text-align: center;

}

#team1 {
    text-align: center;
    margin: 0.4rem;

    background: url(wat1.jpg);
    height: 25vh;
    width: 50vw;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    
    color: black;
    font-size: 2rem;
   display:flex;
    justify-content:center;
    align-items:center; 
}

#team2 {
    text-align: center;
    color: black;
    font-size: 2rem;
    margin: 0.4rem;
    
    background: url(wat4.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 25vh;
    width: 50vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

#team {

    
    font-size: 2.5rem;
    
    text-align: center;
}

#sponsor {
    
    height: 14rem;
    width: 100vw;
    

}

#spo1 {
    
    background: url(Koala.jpg);
    
    height: 7rem;
    width: 7rem;
    border-radius: 5rem;
    background-size: cover;
    justify-content: center;
    margin: auto;
    margin-top: 0.4rem;
    text-align: center;
}

.spo2 {
    
    width: 100vw;
    
    font-size: 1.5rem;
    text-align: center;
}

.spo2 div h1 {

    padding: 1.5rem;
}

#list{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    justify-content: space-evenly;
    align-items: stretch;
    justify-content: space-around;
 }
.play{
 margin:0.5rem;
 text-align:center;
 mix-blend-mode:color-burn;
 z-index:100;
 }
 
 
#ourp{
  display:block;
  
 }
#ours{
 text-align: center;
 }
#p01{
  background: url(Siddhant.jpg);
    height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }

#p02{
  background: url(Shivam.jpg);
 height: 12rem;
    width: 10rem;
 background-size: contain; 
 background-repeat: no-repeat;
    background-position: center;
 }
#p3{
  background: url(Anjal.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }

 #p4{
  background: url(Pratyush.jpg);
  height: 12rem;
    width: 10rem;
  background-size: contain;
  
 background-repeat: no-repeat;
    background-position: center;
}
#p5{
  background: url(Akshar.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }

#p6{
  background: url(AkshatM.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }
#p7{
  background: url(Daksh.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }

#p8{
  background: url(Shorya.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }
#p9{
  background: url(Abhay.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }
#p10{
  background: url(Shiven.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }
#p11{

  background: url(Aryan.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }
#p12{
  background: url(Krishna.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }
#p13{
  background: url(Augustya.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }

#p14{
  background: url(Prashant.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }

#p15{
  background: url(Adhyan.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }
#p16{
  background: url(Ankit.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }
#p17{
  background: url(Abhinav.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }
#p18{
  background: url(Abhishek.jpg);
 height: 12rem;
    width: 10rem;
  background-size: contain;
 background-repeat: no-repeat;
    background-position: center;
 }


#sect-1 h1 {
    text-align: center;

}

#sect-2 {
    display: flex;
    
    
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
marquee{
 background-color:rgb(152, 251, 152);
 }
